<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="log/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="allfile" fileName="log/nlog-all-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=False:fileName=True:methodName=True:includeSourcePath=False:includeNamespace=False}| ${message} ${exception:format=tostring}" />
    
    <target xsi:type="ColoredConsole" name="color-console"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=False:fileName=True:methodName=True:includeSourcePath=False:includeNamespace=False}| ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="color-console" />
    
    <!-- Uncomment if you want to log to file as well -->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
  </rules>
</nlog>